@use "../abstracts/" as *;

.logo {
  //default logo styles
  fill: $logo-fill-default;
  max-width: $logo-size-default;

  .site-header & {
    fill: $logo-fill-header;
    max-width: $logo-size-header;
  }

  .site-footer & {
    fill: $logo-fill-footer;
    max-width: $logo-size-footer;
  }
}